h1{color:violet}

table,th,td{border:1px solid black;}

table{ 
	color:#101357;
	text-align:center;
	width:640px;
	border-collapse:collapse;
	border-spacing:0;
}

th{font-weight: bold;}
tr{font-weight: lighter;}
th, td {
	border-width: medium;
	border-color:orange;
  padding: 15px;
  text-align: left;
}

table tr:nth-child(even){
	background-color:Thistle;
}

table th:nth-child(odd){
	background-color:Plum;
}

table th{
	background-color:Violet;
}


			